<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1099218878335-hqcct4o8nveaibqal1kcishpmresd0hn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099218878335-hqcct4o8nveaibqal1kcishpmresd0hn</string>
	<key>API_KEY</key>
	<string>AIzaSyA--Pdicyuhe_ETbX10FTMciV9RJKJQV5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1099218878335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.william-stevenson.Wasteland.dev</string>
	<key>PROJECT_ID</key>
	<string>wasteland-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>wasteland-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099218878335:ios:9a4d02d579da197452244a</string>
	<key>DATABASE_URL</key>
	<string>https://wasteland-dev.firebaseio.com</string>
</dict>
</plist>